.bloco-body-seach{
   width: 90%;
   margin: 150px auto;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.bloco-login-google-seach{
    width: 100%;
}

.bloco-login-google-seach>form>input {
    width: 350px;
    height: 55px;
    border-radius: 3px;
    background-color: #e9e5e5;
    border: none;
    border-radius: 20px 0 0 20px;
    font-size: 25px;
    padding: 0 10px 0 10px;
}

.bloco-login-google-seach>h1 {
    color: blueviolet;
    margin-bottom: 20px;
    font-size: 50px;
}
.bloco-login-google-seach>form>button {
    margin-top: 10px;
    width: 150px;
    color: aliceblue;
    background: blueviolet;
    border: none;
    height: 55px;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    font-size: 25px;
}

.bloco-mostra-livros {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
}

.bloco-mostra-livros>div{
    width: 200px;
    margin: 10px 5px 10px 5px;
}
.capalivro{
    width: 200px;
    height: 262px;
    aspect-ratio: 16/9;
    border-radius: 20px;
}
.tituloLivro{
    font-size: 17px;
    color: #252525;
    text-align: start;
}
